<form method="POST" action="/usuario/novo">
    <input placeholder="Insira o seu nome" type="text" name="usuario">
    <input placeholder="Insira o sua senha" type="text" name="senha">

    <button>Salvar</button>
</form>